img {
    width: 150px;
}
.container {
    min-height: 150px;
    width: 100%;
    background-color: gainsboro;
    display: flex;
    justify-content: center;    
}

.click-image {
}

#click-image-div {
    width: 150px;
    height: 150px;
    padding: 0 10px 0 10px;
}